services:
  n8n:
    image: n8nio/n8n:latest
    container_name: n8n-container
    ports:
      - "5678:5678"
    user: node
    volumes:
      - n8n_data:/home/node/.n8n
    environment:
      - NODE_ENV=production
    restart: unless-stopped

volumes:
  n8n_data: